/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Arvo', serif;
  --font-code: 'Roboto', monospace;
  --font-color: #393939;
  --bg-color: #83979c;
  --btn-bg-color: #ffffff;
  --accent-color: #afafaf;
  --header-shadow: #000 0px 0px 5px;
}
#team {
  position: relative;
  min-height: 100vh;
}
/*------- Team section start ------*/
#team {
  position: relative;
  min-height: 100vh;
  bottom: -350px;
}

#team .text-center {
  font-weight: bold;
  font-size: 44px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
}

.team-grid {
  /* display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.team-image img {
  width: 50%;
  border-radius: 50%;
  object-fit: contain;
}

.team-text h1 {
  font-size: 30px;
  text-transform: uppercase;
}

.team-text h3 {
  font-size: x-large;
  margin-top: -10px;
}
/*------- Team section end ------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem 2rem;
}

/* HEADER */

header {
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#end__of__page {
  margin-bottom: -30vh;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  right: 0;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: var(--btn-bg-color);
  color: var(--accent-color);
  font-family: var(--font-secondary);
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 4px 4px 0 0 var(--accent-color);
  cursor: pointer;
  position: relative;
  text-decoration: none;
  outline: none;
}
.btn:hover {
  box-shadow: none;
}

.wallet-btn {
  border-radius: 5rem;
  margin-left: 1rem;
  border-color: transparent;
}

.hero-btn {
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 1.5rem 3rem;
}

/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*height: 100%;*/
  padding-top: 100px;
}

.countdown ul {
  display: flex;
  gap: 2rem
}
.countdown .clock-item {
  list-style: none;
  width: 70px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 1rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 4px 4px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  color: var(--bg-color);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 4px 4px;
}

.countdown h1 {
  text-shadow: 2px 2px 0 var(--accent-color);
  font-style: italic;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
}

/*Logo*/
.logo {
  position: relative;
  left: 10px;
}
.logo:hover {
  transform: scale(1.1);
}

.logo__image {
  margin-top: 1vw;
  width: 25vw;
}
.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 1rem;
  }
  .logo {
    left: 0;
  }
  .wallet-btn {
    margin-left: 1;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}